body, html {
    margin: 0;
    padding: 0;
    height: 100%;
   ; /* Evita el desplazamiento */
}

.image-container {
    display: flex;
    flex-direction: column; /* Coloca las imágenes una debajo de otra */
    height: 100%; /* Ocupa toda la altura de la ventana */
}

.full-screen-image {
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura completa de la ventana */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}
